@import '../../assets/styles/vars.scss';

.container{
    @extend %container-default;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    .content{
        display: flex;
        width: 97%; 

        max-width: 85rem;

        .product{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 1rem;
            nav{
                display: flex;
                justify-content: space-between;
                width: 90%;
                .home_link{
                    @include text_style(map-get($map: $colors, $key: branco), 1.1rem, 700);
                    background-color: map-get($map: $colors, $key: azulEscuro);
                    padding: .6rem 2rem;
                    text-transform: uppercase;
                    border-radius: .5rem;
                }
                .admin_buttons{
                    display: flex;
                    gap: 1rem;
                    a, button{
                        @include text_style(map-get($map: $colors, $key: branco), 1rem, 700);
                        padding: .5rem 1rem;
                        border-radius: .2rem;
                        cursor: pointer;
                        width: 6rem;
                        text-align: center;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    button{
                        border: none;
                        background-color: map-get($map: $colors, $key: incorrect);
                        &:focus{
                            outline: none;
                        }
                    }
                    a{
                        color: map-get($map: $colors, $key: ciano);
                        background-color: map-get($map: $colors, $key: preto2);
                    }
                }
            }
            .product_image{
                height: 100%;
                width: 90%;
                border: 3px solid map-get($map: $colors, $key: cinza);
                border-radius: .8rem;
                overflow: hidden;
                position: relative;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                .rating_container{
                    position: absolute;
                    top: 2%;
                    right: 1%;
                    div{
                        display: flex;
                        gap: .2rem;
                        align-items: center;
                        @include text_style(map-get($map: $colors, $key: branco), 1rem, 700);
                        svg{
                            width: 1.3rem;
                            height: 1.3rem;
                        }
                    }
                }
            }
        }
        .container_product_infos{
            display: flex;
            position: relative;
            flex-direction: column;
            justify-content: space-between;
            width: 40%;
            .product_infos{
                display: flex;
                flex-direction: column;
                gap: 1.2rem;
                h2{
                    @include text_style(map-get($map: $colors, $key: branco), 2rem, 700);
                }
                h4{
                    @include text_style(map-get($map: $colors, $key: branco), 1.4rem, 400);
                    text-transform: capitalize;
                }
                .desc_container{
                    border-top: 2px solid map-get($map: $colors, $key: cinza5);
                    border-radius: 3%;
                    max-width: 100%;
                    
                    padding: .5rem .2rem;
                    p{
                        @include text_style(map-get($map: $colors, $key: cinzaDescD), .9rem, 400);
                    }
                }
            }
            .product_actions{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .comment_button{
                    button{
                        @include text_style(map-get($map: $colors, $key: cinzaDescD), .9rem, 700);
                        background-color: transparent;
                        border: none;
                        cursor: pointer;
                    }
                }
                .buttons{
                    .button_pay{
                        position: relative;
                        p{
                            position: absolute;
                            top: -100%;
                            right: 0;
                            @include text_style(map-get($map: $colors, $key: cinzaDescD), 1.5rem, 700);
                        }
                        button{
                            border: none;
                            border-radius: .8rem;
                            padding: .6rem 1rem;
                            width: 9rem;
                            @include text_style(map-get($map: $colors, $key: branco), 1.15rem, 700);
                            background-color: map-get($map: $colors, $key: azulEscuro);
                            text-transform: uppercase;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}